// Importerar andra scss-filer
@import 'variabler';
@import 'mixins';

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;

    .left {
        margin-left: 20px;
        margin-top: 20px;

        .ham-menu {
            @include transparent-picture;
            height: 60px;
            width: 60px;
        }
    }
    
    .center {
      @include centered-element;
      padding-top: 20px;

      img {
        height: auto;
        width: auto;
      }
    };

    .right {
        display: flex;               
        justify-content: flex-start;
        gap: 10px;
        margin-top: 20px;
        margin-right: 20px;             
    
        .btn-login {
            // Knappen
            background-color: $darker-blue;
            height: 60px;
            width: 120px;
            border: none;
            border-radius: 9999rem;
            box-shadow: 0 8px 15px rgba(79, 70, 229, 0.3);
            
            // Texten
            font-size: 1.4rem;
            color: $secondary-fontColor;
            font-weight: bold;

            // Hover funktion (Ingen styling än)
            //@include hover-btn-login;
        }

        .btn-login-mobile {
          display: none
        }

        .btn-cart {
            @include transparent-picture;
            height: 60px;
            width: 60px;
        }
    }
}

main {
    .layout-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;

        .left-grid {
          position: relative;

          #text-container {
            position: relative;
            z-index: 1; 
          }

          h1 {
            font-size: 4rem;
            font-weight:bolder;
          }

          #text-middle {
            padding-top: 1px;
            padding-bottom: 1px;
          }

          #text-top, #text-middle, #text-bottom {
            margin-left: 120px;

          }

          img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 75%;
            z-index: 0;
          }
        }

        #text-container-mobile {
          display: none;
        }
      
        .right-grid {
          display: flex;
          justify-content: flex-end;
        }

        img {
            width: 80%;
            height: 100%;
        }
      }
      
}

footer {
  background-color: $footer-bg;
  display: flex;
  justify-content: space-between;
  position: relative;

  .left {
    margin-left: 120px;
    margin-top: 20px;    

    img {
      width: 150px;
      height: 90px;
    }
  }

  .center {
    @include centered-element;
    bottom: 0;

    h5 {
      margin-bottom: 5px;
      color: $secondary-fontColor;
    }
  }

  .center-mobile {
    display: none;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;

    .social-icons {
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    img {
      height: 38px;
      width: 38px;
    }
  }  
}

// Här börjar layout för mobil (Iphone 14 Pro Max)
@media (max-width: 430px) {
  header {

    .left {
      
    }


    .center {

      img {
        width: 80px;
        height: auto;
      }
    }

    .right {
      gap: 0px;

      .btn-login {
        display: none;
      }

      .btn-login-mobile {
        display: inline;
        width: 60px;
        height: 60px;
        @include transparent-picture;


        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  main {
    .layout-grid {
      display: block;

      #text-container {
        display: none;
      }

      #text-container-mobile {
        display: block;
        margin-left: 30px;

        h1 {
          font-size: 2.5rem;
        }

        #text-top-mobile {

          h1 {
            line-height: 1.8;
          }
        }
      }
    }
  }

  footer {
    .left {
      margin-left: 40px;
      margin-top: 20px;

      img {
        width: 80px;
        height: auto;
      }
    }

    .center-mobile {
      @include centered-element;
      bottom: 0;
      margin-bottom: 0px;
      display: inline;
      
      h5 {
        color: $secondary-fontColor;
        margin-bottom: 5px;
        font-size: 11px;
      }
    }

    .center {
      display: none;
    }

    .right {
      margin-right: 40px;
      margin-bottom: 10px;

      h2 {
        font-size: 1rem;
      }

      .social-icons {
        gap: 10px;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}