body {
  font-family: "Inter", sans-serif;
  margin: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}
header .left {
  margin-left: 20px;
  margin-top: 20px;
}
header .left .ham-menu {
  background-color: transparent;
  border: none;
  height: 60px;
  width: 60px;
}
header .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
}
header .center img {
  height: auto;
  width: auto;
}
header .right {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  margin-right: 20px;
}
header .right .btn-login {
  background-color: #B2FFF1;
  height: 60px;
  width: 120px;
  border: none;
  border-radius: 9999rem;
  box-shadow: 0 8px 15px rgba(79, 70, 229, 0.3);
  cursor: pointer;
  font-size: 1.4rem;
  color: #514F4F;
  font-weight: bold;
}
header .right .btn-login-mobile {
  display: none;
}
header .right .btn-cart {
  background-color: transparent;
  border: none;
  height: 60px;
  width: 60px;
}

main .layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
main .layout-grid .left-grid {
  position: relative;
}
main .layout-grid .left-grid #text-container, main .layout-grid .left-grid #btn-food {
  position: relative;
  z-index: 1;
}
main .layout-grid .left-grid h1 {
  font-size: 3rem;
  font-weight: bolder;
}
main .layout-grid .left-grid #text-middle {
  padding-top: 1px;
  padding-bottom: 1px;
}
main .layout-grid .left-grid #text-top, main .layout-grid .left-grid #text-middle, main .layout-grid .left-grid #text-bottom {
  margin-left: 120px;
}
main .layout-grid .left-grid #text-middle h1 {
  margin-top: 60px;
  margin-bottom: 60px;
}
main .layout-grid .left-grid #btn-food button {
  width: 300px;
  height: 120px;
  background-color: #B2FFF1;
  border: 1px solid black;
  border-radius: 9999rem;
  box-shadow: 0 8px 15px rgba(79, 70, 229, 0.3);
  margin-left: 120px;
  margin-top: 50px;
  animation: bounce 1.5s infinite;
  cursor: pointer;
  font-size: 2rem;
  color: #514F4F;
  font-weight: bold;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
main .layout-grid .left-grid img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 0;
}
main .layout-grid #text-container-mobile {
  display: none;
}
main .layout-grid .right-grid {
  display: flex;
  justify-content: flex-end;
}
main .layout-grid img {
  width: 80%;
  height: 100%;
}

footer {
  background-color: #95C9BF;
  display: flex;
  justify-content: space-between;
  position: relative;
}
footer .left {
  margin-left: 120px;
  margin-top: 20px;
}
footer .left img {
  width: 150px;
  height: 90px;
}
footer .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
footer .center h5 {
  margin-bottom: 5px;
  color: #514F4F;
}
footer .center-mobile {
  display: none;
}
footer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
}
footer .right .social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer .right img {
  height: 38px;
  width: 38px;
}

@media (max-width: 430px) {
  header .left {
    margin-left: 10px;
  }
  header .center img {
    width: 80px;
    height: auto;
  }
  header .right {
    gap: 0px;
    margin-right: 10px;
  }
  header .right .btn-login {
    display: none;
  }
  header .right .btn-login-mobile {
    display: inline;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
  }
  header .right .btn-login-mobile img {
    width: 45px;
    height: 45px;
  }
  main .layout-grid {
    display: block;
  }
  main .layout-grid #text-container {
    display: none;
  }
  main .layout-grid #text-container-mobile {
    display: block;
    margin-left: 30px;
  }
  main .layout-grid #text-container-mobile h1 {
    font-size: 2.5rem;
  }
  main .layout-grid #text-container-mobile #text-top-mobile h1 {
    line-height: 1.8;
  }
  footer .left {
    margin-left: 40px;
    margin-top: 20px;
  }
  footer .left img {
    width: 80px;
    height: auto;
  }
  footer .center-mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 0px;
    display: inline;
  }
  footer .center-mobile h5 {
    color: #514F4F;
    margin-bottom: 5px;
    font-size: 11px;
  }
  footer .center {
    display: none;
  }
  footer .right {
    margin-right: 40px;
    margin-bottom: 10px;
  }
  footer .right h2 {
    font-size: 1rem;
  }
  footer .right .social-icons {
    gap: 10px;
  }
  footer .right img {
    width: 25px;
    height: 25px;
  }
}/*# sourceMappingURL=style.css.map */