<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrera</title>
    <link rel="shortcut icon" href="/Bilder/Universial/logoType.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/Index/index.html">
                <img src="/Bilder/Universial/logoType.png" alt="EatzyMeal logotyp">
            </a>
        </div>
    </header>

    <main>
        <img src="/Bilder/Universial/cyanBackgrounds.png" alt="">

        <div class="my-container">
            <div class="inside">
                <a href="/Access/access.html">
                    <img src="/Bilder/Universial/backSpace.png" alt="" id="back-space">
                </a>
                <div class="welcome-text">
                    <h1>Då börjar vi!</h1>
                    <p>Låt oss skapa ditt EatzyMeal-konto</p>
                </div>

                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>

                <form class="register-form" action="/register" method="POST">
                    <div class="name-fields">
                      <input id="fname" type="text" name="firstname" placeholder="Förnamn" required>
                      <input id="lname" type="text" name="lastname" placeholder="Efternamn" required>
                    </div>
                    <input type="email" name="email" placeholder="Mail" required>
                    <input type="password" name="password" placeholder="Lösenord" required>
                    <button type="submit">Skapa konto</button>
                  </form>
                  
    
            </div>
        </div>
  
        <h5>©EatzyMeal 2025</h5>          
    </main>
</body>
</html>