<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sushi Menu</title>

  <!-- Bootstrap CSS & JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/FoodGalleri/menus/menu.css">

  <style>
    body {
      background-image: url(/FoodGalleri/menus/sushi/japan.jpg);
    }
  </style>
</head>
<body>


  <!-- Topbar -->
  <div class="topbar d-flex justify-content-between align-items-center px-3 py-2">
    <button class="btn btn-light">
      <img id="shopcartimg" src="/FoodGalleri/images/hamburgerMenu.png" alt="">
    </button>
    <a href="/index">
      <img class="logo" src="/FoodGalleri/eatzyLogo.png" alt="" style="width: 400px; height: 87px; object-fit: cover;">
    </a>
    <a href="/kassa">
      <button class="btn btn-light">
        <img id="shopcartimg" src="/FoodGalleri/images/shopping-cart.png" alt="">
      </button>
    </a>
  </div>

  <a href="/galleri">
    <button class="backbtn btn btn-light">
      <img id="backbtnimg" src="/FoodGalleri/images/back-button.png" alt="Tillbaka knapp">
    </button>
  </a>

  <!-- Menu Items -->
  <div class="menu">

    <!-- California Roll -->
    <div class="itemLayout d-flex flex-column align-items-center">
      <img src="/FoodGalleri/menus/sushi/california.jpg" alt="California Roll" class="img-fluid">
      <h3>California Roll</h3>
      <div class="priceAndBtn">
        <h4 class="borderPris">95.00kr</h4>
        <button type="button" class="btn btn-outline-dark addToCartBtn" data-id="16" >
          <img class="addToCart" src="/FoodGalleri/images/add-to-cart.png" alt="add to cart">
        </button>
      </div>
    </div>

    <!-- Spicy Tuna Roll -->
    <div class="itemLayout d-flex flex-column align-items-center">
      <img src="/FoodGalleri/menus/sushi/spicytuna.jpg" alt="Spicy Tuna Roll" class="img-fluid">
      <h3>Spicy Tuna Roll</h3>
      <div class="priceAndBtn">
        <h4 class="borderPris">105.00kr</h4>
        <button type="button" class="btn btn-outline-dark addToCartBtn" data-id="17">
          <img class="addToCart" src="/FoodGalleri/images/add-to-cart.png" alt="add to cart">
        </button>
      </div>
    </div>

    <!-- Salmon Nigiri -->
    <div class="itemLayout d-flex flex-column align-items-center">
      <img src="/FoodGalleri/menus/sushi/salmon.jpg" alt="Salmon Nigiri" class="img-fluid">
      <h3>Salmon Nigiri</h3>
      <div class="priceAndBtn">
        <h4 class="borderPris">99.00kr</h4>
        <button type="button" class="btn btn-outline-dark addToCartBtn" data-id="18">
          <img class="addToCart" src="/FoodGalleri/images/add-to-cart.png" alt="add to cart">
        </button>
      </div>
    </div>

  </div>

  <h6 id="copyright" style="color: white;">© EatzyMeal AB</h6>

  <!-- JS Scripts -->

  <script src="/FoodGalleri/FoodGScript.js"></script>
  <script type="module" src="/FoodGalleri/javascript/supabase.js"></script>
</body>
</html>
