* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
}

header, footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo, .footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  align-items: center;
}

.right .btn-login {
  background-color: #B2FFF1;
  height: 60px;
  width: 120px;
  border: none;
  border-radius: 9999rem;
  box-shadow: 0 8px 15px rgba(79, 70, 229, 0.3);
  font-size: 1.4rem;
  color: #514F4F;
  font-weight: bold;
}

.btn-cart {
  background-color: transparent;
  border: none;
  height: 60px;
  width: 60px;
}

.ham-menu{
  background-color: transparent;
  border: none;
  height: 60px;
  width: 60px;
}

.about-section {
  display: flex;
  min-height: calc(100vh - 160px);
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 3rem;
  z-index: 1;
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.text-container h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.info-block {
  margin-bottom: 1.5rem;
}

.info-block h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.stars h3 {
  margin-bottom: 0.5rem;
}

.image-side {
  flex: 1;
  background-image: url('foodsBackground2.png');
  background-size: cover;
  background-position: center;
  clip-path: ellipse(70% 100% at 100% 50%);
}

footer {
    background-color: #95C9BF;
    display: flex;
    justify-content: space-between;
    position: relative;
}
footer .left {
    margin-left: 120px;
    margin-top: 20px;
}
footer .left img {
    width: 150px;
    height: 90px;
}
footer .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
footer .center h5 {
    margin-bottom: 5px;
    color: #514F4F;
}
footer .center-mobile {
    display: none;
}
footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
}
footer .right .social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}
footer .right img {
    height: 38px;
    width: 38px;
}
  
